# Dependências do Node (O MAIS IMPORTANTE)
node_modules/

# Arquivos de "segredos" (senhas, chaves de API)
.env
.env.local

# Logs
*.log
npm-debug.log

# Pasta de build (para o frontend Vue)
dist/

# Arquivos de sistema
.DS_Store
Thumbs.db